{#
Paste this snippet before the closing </head> tag on your HTML template:
<script src='https://www.google.com/recaptcha/api.js'></script>
#}
{% if validate %}
    {% if errors|length > 0 %}
        {% set class='has-error' %}
    {% else %}
        {% set class='has-success' %}
    {% endif %}
{% endif %}
<div class="form-group {{ class }}">
    {% if iconClass is not null%}
        <i class="fa {{ iconClass }} prefix"></i>
    {% endif %}
    <div align="center" class="g-recaptcha {{ class }}" data-sitekey="{{ siteKey }}"></div>
    {% if description|length > 0 %}
        <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
    {% endif %}
    {% for error in errors %}
        <p class="has-error control-label">{{ error }}</p>
    {% endfor %}
</div>