{% if validate %}
    {% if errors|length > 0 %}
        {% set class='is-invalid' %}
    {% else %}
        {% set class='' %}
    {% endif %}
{% endif %}
<div class="form-check {{ class }}">
	<fieldset>
	{% for item in groupItems %}
    <input type="checkbox" class="form-check-input {{ class }}" name="{{ ownerId }}[{{ id }}][]" aria-describedby="{{ id }}{{ loop.index }}Help" value="{{ item.value }}" {% if item.checked == true %} checked {% endif %} {% if required %}required{% endif %}>
    <label class="form-check-label" for="{{ id }}">{{ item.title }} {% if required %}*{% endif %}</label>
        {% if item.description|length > 0 %}
    <small id="{{ id }}{{ loop.index }}Help" class="form-text text-muted">{{ item.description }}</small>
        {% endif %}
    {% endfor %}
    {% for error in errors %}
        <p class="invalid-feedback">{{ error }}</p>
    {% endfor %}
    </fieldset>
    {% if selectAllEnabled %}
<input type="checkbox" class="form-check-input {{ class }}" onClick="toggle{{ ownerId }}{{ id }}(this)" />{{ selectAllTitle }}<br/>
<label class="form-check-label" for="{{ id }}">{{ item.title }}</label>
        {% if selectAllDescription|length > 0 %}
    <small id="{{ id }}SelAllHelp" class="form-text text-muted">{{ selectAllDescription }}</small>
        {% endif %}
<script language="JavaScript">
function toggle{{ ownerId }}{{ id }}(source) {
  checkboxes = document.getElementsByName('{{ ownerId }}[{{ id }}][]');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}
</script>
    {% endif %}
</div>

