{% if validate %}
    {% if errors|length > 0 %}
        {% set class='has-error' %}
    {% else %}
        {% set class='has-success' %}
    {% endif %}
{% endif %}
<div class="form-check {{ class }}">
    <input type="checkbox" class="form-check-input" name="{{ ownerId }}[{{ id }}]" aria-describedby="{{ id }}Help" placeholder="{{ placeholder }}" value="{{ value }}" {% if required %}required{% endif %}>
    <label class="form-check-label" for="{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
    {% if description|length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
    {% endif %}
    {% for error in errors %}
        <p class="has-error control-label">{{ error }}</p>
    {% endfor %}
</div>