<input type="hidden" class="form-control" name="{{ ownerId }}[{{ id }}]" placeholder="{{ placeholder }}" aria-describedby="{{ id }}Help" value="{{ value }}" {% if required %}required{% endif %}>
{% for error in errors %}
    <p class="has-error control-label">{{ error }}</p>
{% endfor %}
