{% if validate %}
    {% if errors|length > 0 %}
        {% set class='is-invalid' %}
    {% else %}
        {% set class='is-valid' %}
    {% endif %}
{% endif %}
<div class="form-group">
    <label class="control-label text-right" for="{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
    <input type="number" step="0.00000001" class="form-control {{ class }}" name="{{ ownerId }}[{{ id }}]" placeholder="{{ placeholder }}" aria-describedby="{{ id }}Help" value="{{ value }}" {% if required %}required{% endif %}>
    {% if description|length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
    {% endif %}
    {% for error in errors %}
    <div class="invalid-feedback">
        <p>{{ error }}</p>
    </div>
    {% endfor %}
</div>
