{% if validate %}
    {% if errors|length > 0 %}
        {% set class='has-error' %}
    {% else %}
        {% set class='has-success' %}
    {% endif %}
{% endif %}
<div class="form-check {{ class }}">
	<fieldset>
	{% for item in groupItems %}
    <input type="radio" class="form-check-input" name="{{ ownerId }}[{{ id }}]" aria-describedby="{{ id }}{{ loop.index }}Help" value="{{ item.value }}" {% if item.checked == true %} checked {% endif %} {% if required %}required{% endif %}>
    <label class="form-check-label" for="{{ id }}">{{ item.title }} {% if required %}*{% endif %}</label>
        {% if item.description|length > 0 %}
    <small id="{{ id }}{{ loop.index }}Help" class="form-text text-muted">{{ item.description }}</small>
        {% endif %}
    {% endfor %}
    {% for error in errors %}
        <p class="has-error control-label">{{ error }}</p>
    {% endfor %}
    </fieldset>
</div>