{% if validate %}
    {% if errors|length > 0 %}
        {% set class='is-invalid' %}
    {% else %}
        {% set class='is-valid' %}
    {% endif %}
{% endif %}
<div class="form-group">
    <label class="col-form-label text-right" for="{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
    <select class="form-control {{ class }}" name="{{ ownerId }}[{{ id }}]" aria-describedby="{{ id }}Help">
        {% for item in items %}
            <option {% if item.value == value %}selected {% endif %} value="{{ item.value }}">{{ item.title|raw }}</option>
        {% endfor %}
    </select>
    {% if description|length > 0 %}
        <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
    {% endif %}
    {% for error in errors %}
    <div class="invalid-feedback">
        <p>{{ error }}</p>
    </div>
    {% endfor %}
</div>
