{% if validate %}
    {% if errors|length > 0 %}
        {% set class='has-error' %}
    {% else %}
        {% set class='has-success' %}
    {% endif %}
{% endif %}
<div class="form-group {{ class }}">
<label class="control-label" for="{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
<textarea class="form-control" name="{{ ownerId }}[{{ id }}]" rows="3" placeholder="{{ placeholder }}" aria-describedby="{{ id }}Help" {% if required %}required{% endif %}>{{ value }}</textarea>
{% if description|length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
{% endif %}
{% for error in errors %}
    <p class="has-error control-label">{{ error }}</p>
{% endfor %}
</div>
