
{% if validate %}
    {% if errors|length > 0 %}
        {% set class='has-error' %}
    {% else %}
        {% set class='has-success' %}
    {% endif %}
{% endif %}
{% if fieldEntity.isPassword %}
    {% set textFieldType = 'password' %}
{% else %}
    {% set textFieldType = 'text' %}
{% endif %}
<div class="form-group {{ class }}">
<label class="control-label" for="{{ id }}">{{ title }} {% if required %}*{% endif %}</label>
<input type="{{ textFieldType }}" class="form-control" name="{{ ownerId }}[{{ id }}]" placeholder="{{ placeholder }}" aria-describedby="{{ id }}Help" value="{{ value }}" {% if required %}required{% endif %}>
{% if description|length > 0 %}
    <small id="{{ id }}Help" class="form-text text-muted">{{ description }}</small>
{% endif %}
{% for error in errors %}
    <p class="has-error control-label">{{ error }}</p>
{% endfor %}
</div>