<form class="customform" method="post" name="{{ form.name }}" action="{{ this.action }}">
    {% for row in rows %}
{{ row|raw }}
    {% endfor %}
    <p>* required</p>
    <br>
    <button type="submit" class="btn btn-primary" style="margin-bottom: 0rem;">Submit</button>
</form>